.card{
    max-width:fit-content;
    overflow: hidden;
    padding: 1rem 1rem 1.5rem;
    border-radius: .5rem;
    box-shadow: rgba(0,0,0,.15) 0 2px 10px 0;
    display:flex;
    flex-direction: column;
    gap:1rem;
    position: relative;
}
.card img{
    max-width: fit-content;
    border-radius: .3rem;
    object-fit:cover
}
.card span.discount{
    position: absolute;
    inset: 20px;
    z-index:20;
    background-color: #ed4133;
    color:white;
    padding: .4rem;
    border-radius: .3rem;
    width: fit-content;
    height: fit-content;
    border:1px solid white;
}
.cardBody{
    display: flex;
    flex-direction: column;
    gap:1rem
}
.cardBody .details{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.cardBody .details h3{
    font-size: 1.2rem;
    color:#53c60b;
    font-weight:500;
}
.cardBody .details span{
    color:grey
}
.cardBody .price, .cardBody .priceOffer{
    display: flex;
    align-items: center;
}
.cardBody .priceOffer{
    color: #ed4133;
}
.cardBody button{
    width: 100%;
    background-color: #53c60b;
    color: white;
    padding:1rem 1.5rem;
    font-size: 1.1rem;
    font-weight:500;
    border-radius: .3rem;
    border:none;
    box-shadow: rgba(0,0,0,.15) 0 1px 6px 0;
    cursor: pointer;
    transition:all .3s ease-in-out;
}
.cardBody button:hover{
    box-shadow: rgba(0,0,0,.25) 0 2px 10px 0;
}