.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.header >a{
    color:#53c60b;
    font-size:1.2rem;
    font-weight:600
}
.nav{
    display: flex;
    gap:1rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.footer{
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    background-color:#53c60b;
    color: white;
}